.about_swiper>.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 8px;
  width: 22px;
  border-radius: 5px;
  background-color: #12324d;
  transition: all ease-in-out 0.6s;
  /* Triangle color */
}

.offerBanner {
  height: 100%;
  width: 98.5%;
}

.category_highlight {
  height: 100px;
  border-radius: 10px;
}

Hide scrollbar for Chrome,
Safari,
and Edge::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer */
html {
  -ms-overflow-style: none;
}

@media screen and (max-width:767px) {
  .about_swiper>.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    height: 6px;
    width: 18px;
    border-radius: 5px;
    background-color: #12324d;
    transition: all ease-in-out 0.6s;
  }
}
